{% macro css_class(status) %}

{% set status_css_class =
    {
       1: 'status-ok',
       2: 'status-too-few',
       3: 'status-too-many',
       4: 'status-too-few-too-many'
    }[status]
%}

{{ status_css_class }}

{% endmacro %}

{% macro render() %}

<div id="test_status">
    <table>
        <tr>
            <td>
                <div class="status-help-box status-not-run">Not run</div>
            </td>
            <td>Test has not been run.</td>
        </tr>
        <tr>
            <td>
                <div class="status-help-box status-ok">OK</div>
            </td>
            <td>Tested IdP returned the correct attributes.</td>
        </tr>
        <tr>
            <td>
                <div class="status-help-box status-too-few">Too few</div>
            </td>
            <td>Tested IdP returned too few attributes.</td>
        </tr>
        <tr>
            <td>
                <div class="status-help-box status-too-many">Too many</div>
            </td>
            <td>Tested IdP returned too many attributes.</td>
        </tr>
        <tr>
            <td>
                <div class="status-help-box status-too-few-too-many">Too few &
                    too
                    many
                </div>
            </td>
            <td>Tested IdP returned too few and too many attributes.</td>
        </tr>
    </table>
</div>

{% endmacro %}